*{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.open{
    display: flex !important;
}
#header{
    display: flex;
    padding: 0 10%;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    transition: 0.2s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background-image: linear-gradient(45deg, black, red, black);
}
.scroll_header{
    height: 50px !important;
}
.scroll_sub{
    top: 50px !important;
}
.header_list_child i{
    font-size: 12px;
    margin-left: 8px;
}
#body{
    margin-top: 80px;
    padding: 40px 10%;
}
.header_list{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}
.header_img{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
#header >a{
    display: flex;
}
.header_list_child{
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.header_list_sub{
    display: none;
    color: black;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    top: 80px;
    transition: 0.2s ease;
}
.header_list_sub ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
    
}
.header_list_sub li{
    font-size: 12px;
    font-weight: 200;
    line-height: 40px;
    width: 100%;
}
.header_list_sub li a{
    font-size: 12px;
    font-weight: 200;
    line-height: 40px;
    width: 100%;
    color: #000;
    padding-left: 12px;
    display: block;
}
.header_list_child:hover{
    background-color: rgb(155, 4, 4);
    cursor: pointer;
}
.header_list_child:hover .header_list_sub{
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}
.header_list_sub li:hover{
    background-color: rgb(155, 4, 4);
    color: #fff;
}
.header_list_sub li:hover a{
    background-color: rgb(155, 4, 4);
    color: #fff;
}
.header_search{
    color: #fff;
    padding: 0 24px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    z-index: 999;
    position: relative;
}
.header_search:hover{
    background-color: rgb(155, 4, 4);
}
.header_search_items::after{
    border-style: solid;
    border-width: 0 6.5px 10px 6.5px ;
    border-color: transparent transparent rgb(155, 4, 4)  transparent;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 24px;
}
.header_search_items{
    display: none;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 16px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    right: 0;
    background-color: #fff;
    transition: 0.2s ease;
}
.header_search_items a{
    color: #fff;
    line-height: 32px;
    font-size: 12px;
    background-color: black;
    padding: 0 12px;
    font-weight: 200;
}
#body{
    display: flex;
}
.body_left{
    width: 60%;
}
.body_right{
    width: 40%;
    margin-left: 28px;
}
.body_left h1{
    font-size: 40px;
    font-weight: 500;
}
.body_left p{
    margin: 24px 0;
    font-size: 18px;
}
.body_left h3{
    margin: 20px 0;
}
.fb-like{
    margin-left: 10%;
}
#footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    width: 100%;
    height: 300px;
}
.footer_1{
    width: 30%;
}
.footer_2{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.footer_1 img{
    margin-top: 80px;
    width: 100%;
    padding: 0 10%;
}
#footer h2{
    margin: 30px 10px;
    font-size: 20px;
}
#footer p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}
.footer_desc{
    margin:0 10px;
}
.footer_2 i {
    margin-left: 10px;
    font-size: 32px;
}
.footer_2 i:hover{
    color: #3B5998;
}
.footer_2_icon :last-child:hover{
    color: red;
}
.body_left_content{
    margin-top: 10px;
}
.body_left_content iframe{
    margin-top: 20px;
}
.disabled{
    cursor: default;
    opacity: 0.6;
}
.disabled:hover{
    background-color: #fff!important;
    color: #000!important;
}
/* modal_sign-in */
.modal_main{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn linear 0.2s;

}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scaleUp{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
.open{
    display: flex;
}
.open_modal{
    display: block!important;
}
.modal_sign-in{
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    animation: scaleUp ease 0.3s;

}
.modal_log-in{
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    animation: scaleUp ease 0.3s;

}
.modal_main-header{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 40px;

}
.modal_main-header h3{
    font-size: 24px;
    font-weight: 300;
    cursor:default;
}
.modal_main-header h4{
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: red;
}
.modal_main-input{
    margin: 10px 0;
    padding: 0 40px;

}
.modal_main-input input{
    width: 100%;
    margin-top: 10px;
    outline: 0;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 10px;
}
.modal_main-input input:focus{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.modal_main-sub{
    display: flex;
    flex-direction: row-reverse;
    line-height: 20px;
    padding: 0 40px;

}
.modal_main-sub h6{
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.modal_main-sub-separate{
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    height: 20px;
    display: flex;
    margin: 0 10px;
}
.modal_main-sub-fade{
    opacity: 0.6;
}
.modal_main-sub-fade:hover{
    opacity: 1;
}
.modal_main-button{
    display: flex;
    flex-direction: row-reverse;
    margin: 80px 0 20px 0;
    padding: 0 40px;

}
.modal_main-button h5{
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}
.modal_main-button-right{
    padding: 4px 12px;
    background-color: red;
    color: #fff;
    border-radius: 4px;

}
.modal_main-button-left{
    margin-right: 32px;
    color: #333;
    padding: 4px 32px;
}
.modal_main-button-left:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal_main-footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px 40px;
    align-items: center;
}
.modal_main-footer p{
    font-size: 14px;
}
.modal_main-footer i{
    font-size: 22px;
    padding-right: 36px;
}
.modal_main-footer-left{
    width: 48%;
    display: flex;
    background-color: #166fe5;
    color: #fff;
    align-items: center;
    margin-right: 4%;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.modal_main-footer-right{
    width: 48%;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
/* Modal main login */

.modal_log-in .modal_main-button-right{
    padding: 4px 24px;
}
.modal_main-desc{
    text-align: center;
    display: block;
    padding: 20px 40px 0;
    font-size: 16px;
}
.modal_log-in a{
    color: red;
    font-size: 16px;
}