*{
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}


/* Header */

#header{
    display: flex;
    padding: 0 10%;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    transition: 0.2s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    background-image: linear-gradient(45deg, black, red, black);
}
.scroll_header{
    height: 50px !important;
}
.scroll_sub{
    top: 50px !important;
}
.header_list_child i{
    font-size: 12px;
    margin-left: 8px;
}
#body{
    margin-top: 80px;
    padding: 40px 10%;
}
.header_list{
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}
.header_img{
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
#header> a{
    display: flex;
}
.header_list_child{
    font-weight: 700;
    color: #fff;
    position: relative;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.header_list_sub{
    display: none;
    color: black;
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    top: 80px;
    transition: 0.2s ease;
}
.header_list_sub ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 0;
    
}
.header_list_sub li{
    font-size: 12px;
    font-weight: 200;
    line-height: 40px;
    width: 100%;
}
.header_list_sub li a{
    font-size: 12px;
    font-weight: 200;
    line-height: 40px;
    width: 100%;
    color: #000;
    padding-left: 12px;
    display: block;
}
.header_list_child:hover{
    background-color: rgb(155, 4, 4);
    cursor: pointer;
}
.header_list_child:hover .header_list_sub{
    display: block;
    position: absolute;
    width: 200px;
    left: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
}
.header_list_sub li:hover{
    background-color: rgb(155, 4, 4);
    color: #fff;
}
.header_list_sub li:hover a{
    background-color: rgb(155, 4, 4);
    color: #fff;
}
.header_search{
    color: #fff;
    padding: 0 24px;
    cursor: pointer;
    display: flex !important;
    align-items: center;
    z-index: 999;
    position: relative;
}
.header_search:hover{
    background-color: rgb(155, 4, 4);
}
.header_search_items::after{
    border-style: solid;
    border-width: 0 6.5px 10px 6.5px ;
    border-color: transparent transparent rgb(155, 4, 4)  transparent;
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    right: 24px;
}
.header_search_items{
    display: none;
    position: absolute;
    right: 0;
    top: 80px;
    padding: 16px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    right: 0;
    background-color: #fff;
    transition: 0.2s ease;
}
.header_search_items a{
    color: #fff;
    line-height: 32px;
    font-size: 12px;
    background-color: black;
    padding: 0 12px;
    font-weight: 200;
}

/* Body_review */

#body_review{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
    border-radius: 4px;
    overflow: hidden;
}
.body_review_left{
    position: relative;
    overflow: hidden;
}
.faded::after{
    position: absolute;
    content: "";
    background-image: linear-gradient(0, rgba(0,0,0,0.7) , rgba(255, 255, 255, 0) 60%);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    bottom: 0;
}
.body_review_left img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s linear;
}
.body_review_left:hover img{
    transform: scale(1.1);
}
.body_review_content_2:hover{
    text-decoration: underline;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.body_review_content{
    z-index: 2;
    bottom: 0;
    position: absolute;
    color: #fff;
    margin-left: 20px;
}
.body_review_content_1{
    font-size: 10px;
    margin-bottom: 8px;
    background-color: #333;
    display: inline-block;
    padding: 4px 8px;
    font-weight: 600;
}
.faded:hover .body_review_content_1{
    background-color: #4db2ec;
}
.body_review_content_2{
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 500;
    max-width: 90%;
}
.body_review_content_3{
    font-size: 12px;
    margin-bottom: 12px;
}
.body_review_right{
    position: relative;
    overflow: hidden;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body_review_right img{
    width: 100%;
    transition: transform 0.2s linear;
}
.body_review_right_top:hover img{
    transform: scale(1.1);
}
.body_review_right_bottom{
    display: flex;
    justify-content: space-between;
}
.body_review_right_top{
    position: relative;
    overflow: hidden;
}
.body_review_right_bottom_child{
    display: flex;
    overflow: hidden;
    position: relative;
}
.body_review_right_bottom_child:hover img{
    transform: scale(1.1);
}

/* Body_content */

.content_nav{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content_sukien_nav a:hover{
    color: #ff8637;
}
.content_sukien_nav{
    border-bottom: 2px solid #ff8637;

}
.content_sukien_nav p{
    background-color: #ff8637;

}
.content_nav p{
    color: #fff;
    font-size: 14px;
    padding: 6px 8px 4px 8px;
    border-radius: 4px 4px 0 0;
}
.content_nav_right a{
    color: #777777;
    font-size: 14px;
}
.content_nav_right{
    flex: 1;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

/* Content */
.content_sukien_box{
    display: flex;
    flex-direction: column;
}
.content_sukien_child{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content_sukien_item{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 23%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.2s linear;
}
.content_sukien_item img{
    width: 100%;
}
.content_sukien_item_sub{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    background-color: #333;
    padding: 2px 4px;
    border-radius: 0 4px 0 8px;
}
.content_sukien_item:hover .content_sukien_item_sub{
    background-color: #ff8637;
}
.content_sukien_item:hover .content_sukien_item_desc{
    color: rgb(255, 134, 55);
}
.content_sukien_item:hover{
    transform: scale(1.05);
    transform: translateY(-10px);
}
.content_sukien_item_desc{
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 20px;
    margin: 4px 0 16px 0;
    margin:0 6px;
}
/* Thong báo */
.content_chiase_nav{
    border-bottom: 2px solid #4caf50;
    margin-top: 28px;
}
.content_chiase_nav p{
    background-color: #4caf50;
}
.content_chiase_nav a:hover{
    color: #4caf50;
}
.content_sukien_item:hover .content_chiase_item_sub{
    background-color: #4caf50;
}
.content_sukien_item:hover .content_chiase_item_desc{
    color: #4caf50;
}

/* footer */
#footer{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    width: 100%;
    height: 300px;
}
.footer_1{
    width: 30%;
}
.footer_2{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.footer_1 img{
    margin-top: 80px;
    width: 100%;
    padding: 0 10%;
}
#footer h2{
    margin: 30px 10px;
    font-size: 20px;
}
#footer p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
}
.footer_desc{
    margin:0 10px;
}
.footer_2 i {
    margin-left: 10px;
    font-size: 32px;
}
.footer_2 i:hover{
    color: #3B5998;
}
.footer_2_icon :last-child:hover{
    color: red;
}

/* modal_sign-in */
.modal_main{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: none;
    animation: fadeIn linear 0.2s;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes scaleUp{
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
.open{
    display: flex;
}
.open_modal{
    display: block!important;
}
.modal_sign-in{
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    animation: scaleUp ease 0.3s;
}
.modal_log-in{
    width: 45%;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    animation: scaleUp ease 0.3s;
}
.modal_main-header{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    padding: 0 40px;

}
.modal_main-header h3{
    font-size: 24px;
    font-weight: 300;
    cursor:default;
}
.modal_main-header h4{
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    color: red;
}
.modal_main-input{
    margin: 10px 0;
    padding: 0 40px;

}
.modal_main-input input{
    width: 100%;
    margin-top: 10px;
    outline: 0;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-left: 10px;
}
.modal_main-input input:focus{
    border: 1px solid rgba(0, 0, 0, 0.6);
}
.modal_main-sub{
    display: flex;
    flex-direction: row-reverse;
    line-height: 20px;
    padding: 0 40px;

}
.modal_main-sub h6{
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
}
.modal_main-sub-separate{
    background-color: rgba(0, 0, 0, 0.2);
    width: 1px;
    height: 20px;
    display: flex;
    margin: 0 10px;
}
.modal_main-sub-fade{
    opacity: 0.6;
}
.modal_main-sub-fade:hover{
    opacity: 1;
}
.modal_main-button{
    display: flex;
    flex-direction: row-reverse;
    margin: 80px 0 20px 0;
    padding: 0 40px;

}
.modal_main-button h5{
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}
.modal_main-button-right{
    padding: 4px 12px;
    background-color: red;
    color: #fff;
    border-radius: 4px;

}
.modal_main-button-left{
    margin-right: 32px;
    color: #333;
    padding: 4px 32px;
}
.modal_main-button-left:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal_main-footer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 16px 40px;
    align-items: center;
}
.modal_main-footer p{
    font-size: 14px;
}
.modal_main-footer i{
    font-size: 22px;
    padding-right: 36px;
}
.modal_main-footer-left{
    width: 48%;
    display: flex;
    background-color: #166fe5;
    color: #fff;
    align-items: center;
    margin-right: 4%;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
.modal_main-footer-right{
    width: 48%;
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
/* Modal main login */

.modal_log-in .modal_main-button-right{
    padding: 4px 24px;
}
.modal_main-desc{
    text-align: center;
    display: block;
    padding: 20px 40px 0;
    font-size: 16px;
}
.modal_log-in a{
    color: red;
    font-size: 16px;
}
.disabled{
    cursor: default;
    opacity: 0.6;
    padding-left: 12px;
}
.disabled:hover{
    background-color: #fff!important;
    color: #000!important;
}